.rec-content {
	display: block;
	margin-top: 10px;
}
*,
::after,
::before {
	box-sizing: border-box;
}
.rec-title::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 40%;
	top: 120%;
	left: 0;
	background: #343a40;
}
.rec-content-filmlist {
	margin: 0 -0.5%;
}

.rec-clearfix::after {
	display: block;
	clear: both;
	content: "";
}
.rec-tabs {
	float: left;
	margin-top: 2px;
	margin-bottom: 20px;
}
.rec-tabs span {
	display: inline-block;
	line-height: 2.2em;
	margin: 0 2px;
	cursor: pointer;
	font-size: 0.9em;
	padding: 0 10px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	color: #6c757d;
	background: #212529;
}
.rec-tabs span i {
	font-size: 0.8em;
	vertical-align: 1px;
}
.rec-active {
	background: #00acc1;
	color: #f8f9fa;
}
@media only screen and (max-width: 1279px) {
	.rec-content-filmlist {
		margin: 0 -0.5%;
	}
}
@media only screen and (max-width: 768px) {
	.rec-content-filmlist {
		margin: 0 -0.75%;
	}
}
@media only screen and (max-width: 576px) {
	.rec-content-filmlist {
		margin: 0 -1%;
	}
}
@media only screen and (max-width: 480px) {
	.rec-content-filmlist {
		margin: 0 -1.5%;
	}
}
